<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated symbolicExecutionExtension -->
      <package
            uri="http://www.yakindu.org/symbolicExecution/extension/2.0.0"
            class="com.yakindu.sct.se.symbolicExecutionExtension.SymbolicExecutionExtensionPackage"
            genModel="model/symbolicExecutionExtension.genmodel"/>
   </extension>

</plugin>
